doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Buddy Builder
    link(rel="stylesheet", href="/css/newsfeed.css")  
  body
    .container
      .left-sidebar
        a.nav-button(href="/profile") My Profile
        a.nav-button(href="/chat") Chats
        a.nav-button(href="/add-post") Add Post
        a.nav-button(href="/about-us") About Us
        a.nav-button(href="/logout") Log-Out
      
      .main-area
        .header
          .logo
            img.logo-icon(src="/images/logo.jpeg" alt="Buddy Builder Logo")
            h2 Buddy Builder
          .search-bar
            input.search-input(type="text" placeholder="Search...")
            button.search-button Search
        
        .content-area
          .main-content
            if posts && posts.length
              each post in posts
                .post
                  h3.post-title #{post.title}
                  .post-content
                    if post.image
                      img(src=post.image, alt="Post content")  
                  .post-header
                    .post-author #{post.name}
                    .post-time #{post.time}
                  .post-description #{post.content}
                  .comment-icon(onclick=`openModal(${post.id})`) ✉
            else
              p No posts available.

      // Move .groups-sidebar here to correctly position it
      .groups-sidebar
        h2.groups-title Groups
        if groups && groups.length
          each group in groups
            a.group-button(href=`/group/${group._id}`) #{group.name}
        else
          a.group-button(href="#") Group 1
          a.group-button(href="#") Group 2
          a.group-button(href="#") Group 3
