doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Study Buddies - Newsfeed
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="/css/newsfeed.css")

  body
    .app-container
      nav.sidebar
        .logo
          i.fas.fa-graduation-cap
          span Study Buddies
        .nav-links
          a.nav-link(href="/profile")
            i.fas.fa-user
            span My Profile
          a.nav-link(href="/chat")
            i.fas.fa-comments
            span Chats
          a.nav-link(href="/add_post")
            i.fas.fa-plus-circle
            span Add Post
          a.nav-link(href="/about-us")
            i.fas.fa-info-circle
            span About Us
          a.nav-link(href="/logout")
            i.fas.fa-sign-out-alt
            span Log Out

      .main-content
        header.top-bar
          .search-container
            i.fas.fa-search
            input.search-input(type="text" placeholder="Search...")
          .user-menu
            .notifications
            .profile-menu
              if user && user.avatar_url
                img.avatar(src=user.avatar_url alt="Profile")
              else
                img.avatar(src="/images/default-avatar.png" alt="Default Profile Picture")
              span.username #{user ? user.name : 'User'}

        .content-area
          .page-header
            h1.page-title 
              i.fas.fa-newspaper
              | Newsfeed

          .posts-container
            if posts && posts.length
              each post in posts
                .post-card
                  .post-header
                    img.author-avatar(src=post.author_avatar || "/images/default-avatar.png", alt="Author")
                    .post-info
                      h3.post-title #{post.title}
                      .post-meta
                        span.post-author
                          | #{post.author_name}
                        span.post-time
                          | #{post.time}

                  .post-content
                    if post.image
                      img.post-image(src=post.image, alt="Post content")
                    p.post-description #{post.content}

                  .post-footer
                    form.comment-form(action="/add-comment" method="POST")
                      input(type="hidden" name="post_id" value=post.id)
                      textarea(name="comment" placeholder="Add a comment..." required)
                      button.comment-button(type="submit")
                        i.fas.fa-comment
                        | Comment
                  if comments && comments.length
                    ul.comments-list
                      each c in comments
                        if c.post_id === post.id
                          li.comment-item
                            b #{c.fullname}:
                            | #{c.comment}
            else
              p.no-posts No posts available

      .groups-sidebar
        h2.groups-title Groups
        if groups && groups.length
          each group in groups
            a.group-link(href=`/group/${group._id}`)
              i.fas.fa-users
              | #{group.name}
        else
          p.no-groups No groups available
