extends layout

block content
    .container
        h1= user.name + "'s Profile"
        
        if user.profile_picture
            img(src=user.profile_picture, alt="Profile Picture")

        p Bio: #{user.bio}

        form(action=`/profile/${user.username}/update` method="POST")
            label(for="bio") Bio:
            textarea(name="bio")= user.bio
            
            label(for="profile_picture") Profile Picture URL:
            input(type="text" name="profile_picture" value=user.profile_picture)

            button(type="submit") Update Profile
